
| Hello #{firstname},
| 
| We urgently need your help to support Bernie Sanders's campaign.
| How can I help?
| 
| Either by:
| 
| - Pleding callers to do more calls with BernBank.com
| - Doing phone calls with BerniePB.com
| - Spreading the word BernieFriendFinder.com
| - Volunteering
| - Donating money to Bernie Sander's campaign
| 
| How does BernBank works
| 
| You can pledge to donate 1 cent for every caller that reach a certain amount of calls.
| 
| At the end of the week, we'll suggest you to donate the amount of money reached by our phonebankers.
| 
| You can donate any amount you want per week, or choose not to donate at all.
| 
| The more people pledge to donate money, the more motivated callers will be since each call will mean an extra amount of money for Bernie's campaign.
| 
| Please help our cause and change America's history!
| 
| Pledge to Donate now!
|	 
| 
| Don't like these annoying emails? 
| Unsubscribe: http://bernbank.com/api/mailing/unsubscribe/undefined#{email}


