Hey!

It's time to fulfill the pledge you made with BernBank!

Last week we had a grand total of  callers who made more than  calls!  Since you pledged  cent(s) per caller, your total pledge amount is $. Follow this link to go to the official campaign donation vendor (ActBlue) and make your donation: https://secure.actblue.com/contribute/page/bernbank?amount=

Thanks to you, the phone banking numbers have gone up significantly, and the phone banking teams have started breaking their goals for the first time since New York. Since we started, <b>$</b> in completed donations has been raised for the campaign!

Thanks again!
- The BernBank Team


Don't like these annoying emails?
Unsubscribe: http://bernbank.com/actions/unsubscribe/