Hello!

It's time to fulfill the pledge you made to support the phone bankers working hard all around the country to get Bernie Sanders elected as the next President of the United States of America!

Last week we had a grand total of 194 callers who made more than 30 calls!  Since you pledged 1 cent(s) per caller, your total pledge amount is ${donationAmount}.  To make it as easy as possible for you to make your donation, we've created a donation link with the exact amount you've pledged automatically filled in for you!  Follow this link to go to the official campaign donation vendor (ActBlue) and make your donation: https://secure.actblue.com/contribute/page/bernbank?amount=194

Thank you for continuing to support Bernie Sanders and all of the hard working phone bankers.  With your continued help, we're well on our way to making Bernie's political revolution a reality!

Thanks again!
- The BernBank Team


Don't like these annoying emails?
Unsubscribe: http://bernbank.com/actions/unsubscribe/jim.j.simon@gmail.com