Hey everyone,

Time again to fulfill the pledge you made to BernBank.

Regardless of whether ​Bernie Sanders becomes the Democratic Party’s nominee, this is not about Bernie Sanders.

This is about progressivism. This is about ​changing the world for the better.

That’s what your money is going to.

We encourage you to follow through on your pledge and continue to fuel the flame that Bernie has ignited.

Last week we had a total of  callers who made more than  calls. Since you pledged  cent(s) per caller, your total pledge amount is $.

Follow this link to go to ActBlue and continue to empower the revolution. https://secure.actblue.com/contribute/page/bernbank?amount=

Since we started, we have collected $6458.99 for the campaign.
<The>revolution is well under way. Millions of people are ready to change politics and bring back democracy.</The>

It does not end here.

- The BernBank Team


Don't like these annoying emails?
Unsubscribe: http://bernbank.com/actions/unsubscribe/