doctype html
html
  head
    meta(name="viewport",content="width=device-width")
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    title Support Bernie Sanders!
    style
      include invite.css
  body

    table(class="body-wrap")
      tr
        td
        td(class="container",bgcolor="#FFFFFF")
          // Content
          div(class="content")
            table
              tr(class="logo")
                td
                  img(height="120",src="http://bernbank.com/img/logoisolated2-email.png",alt="BernBank.com")
              tr
                td
                  p Hello #{firstname},
                  p We <b>urgently</b> need your help to support Bernie Sanders's campaign.
                  h2 How can I help?
                  p Either by:
                  ul
                    li Pleding callers to do more calls with  
                      a(href="http://bernbank.com/") BernBank.com
                    li Doing phone calls with 
                      a(href="https://www.berniepb.com/") BerniePB.com
                    li Spreading the word 
                      a(href="http://berniefriendfinder.com/") BernieFriendFinder.com
                    li
                      a(href="https://go.berniesanders.com/page/s/volunteer-for-bernie") Volunteering
                    li Donating money to 
                      a(href="https://secure.actblue.com/contribute/page/bernbank") Bernie Sander's campaign
                  
                  h2 How does BernBank works
                  p You can pledge to donate 1 cent for every caller that reach a certain amount of calls. 
                  p At the end of the week, we'll suggest you to donate the amount of money reached by our phonebankers.
                  p You can donate any amount you want per week, or choose not to donate at all.
                  p The more people pledge to donate money, the more motivated callers will be since each call will mean an extra amount of money for Bernie's campaign.
                  br/
                  p
                    b Please help our cause and change America's history!
                
                tr
                  td
                    a(class="btn btn-lg btn-danger card-title"  href="http://bernbank.com/") Pledge to Donate now!
    
    // Footer
    table(class="footer-wrap")
      tr
        td
        td(class="container")
          // Content
          div(class="content")
            table
              tr
                td(align="center")
                  p(class="unsubscribe")
                    | Don't like these annoying emails? 
                    a(href="http://bernbank.com/actions/unsubscribe/" + email) Unsubscribe
        td
